html, body{
	margin: 0;
	width: 100%;
	height: 100%;
	--border: #000a;
}
.total{
	width: 100%;
	height: 100%;
	background: linear-gradient(#fff, #feb, #feb) #feb;
	font-family: 'Grenze', serif;
	display: flex;
}
header{
	position: fixed;
	left: 50%;
	transform: translate(-50%, 0);
	user-select: none;
	color: #000a;
	text-align: center;
	width: max-content;
}
header h1{
	font-family: 'Grenze Gotisch', cursive;
	font-size: 111;
	margin-bottom: 0;
	margin-top: 0.25em;
}
header a{
	color: #000a;
	padding: 0px 5px;
	margin: 0;
	border: 2px solid;
	border-radius: 5px;
	animation: pulse .5s linear 0s infinite;
}
header a:hover{
	border-color: #080;
	font-weight: bold;
	color: black;
}
.centered{
	text-align: center;
	width: max-content;
	padding: 15px 15px 5px;
	background-color: #4002;
	border-radius: 15px;
	border-style: solid;
	border-color: var(--border);
	display: none;
}
.active{
	display: initial;
	margin: auto;
}
h2{
	width: 100%;
	margin: 0;
	text-align: center;
	color:#000a;
	margin-bottom: 10px;
	font-size: 28px;
	user-select: none;
}
#code input{
	text-transform: uppercase;
}
input{
	text-align: center;
	background-color: #0007;
	border-radius: 15px;
	font-weight: bold;
	color: white;
	border-color: var(--border);
	font-family: monospace;
	width: 7em;
	height: 2em;
}
input::placeholder{
	color: #000a;
}
input:focus{
	border-color: white;
}
*:focus{
	outline: none;
}
button{
	background-color: #0007;
	border-radius: 25px;
	color: #000a;
	font-weight: bold;
	border-color: var(--border);
	cursor: pointer;
	font-family: monospace;
	height: 2em;
}
button:hover{
	color: white;
	border-color: white;
}
.centered a{
	margin: 0 auto;
	width: max-content;
	color: #000a;
	font-weight: bold;
	display: block;
}
.centered a:hover{
	font-weight: normal;
}
footer{
	position: fixed;
	left: 50%;
	bottom: 5px;
	color: white;
	transform: translate(-50%, 0);
	width: max-content;
	color: #000a;
}
footer a{
	float: left;
	color: #000a;
}
footer p{
	float: left;
	margin: 0px 5px;
}
@keyframes pulse{
	50%{
		font-size: 16.5px;
	}
}
@keyframes wrong{
	0%{
		--border: #f00;
	}
	25%{
		transform: rotate(12deg);
	}
	50%{
		transform: none;
	}
	75%{
		transform: rotate(-12deg);
	}
	100%{
		transform: none;
		--border: #f00;
	}
}
@keyframes moveOut{
	0%{
		--border: #af7;
	}
	100%{
		transform: translate(-100%, 0);
		--border: #af7;
	}
}
@keyframes moveIn{
	0%{
		transform: translate(100%, 0);
		--border: #af7;
	}
	100%{
		--border: #af7;
	}
}
@keyframes think{
	0%{
		transform: translate(0, 0);
		--border: #4cf;
	}
	25%{
		transform: translate(0, -10%);
	}
	75%{
		transform: translate(0, 10%);
	}
	100%{
		transform: translate(0, 0);
		--border: #4cf;
	}
}
