html, body{
	margin: 0;
	width: 100%;
	height: 100%;
	--border: #000a;
	background: linear-gradient(#fff, #feb, #feb) #feb;
	font-family: 'Grenze', serif;
	overflow: hidden;
	position: fixed;
}
.wrapper{
	width: 100%;
	height: 100%;
	position: absolute;
	display: none;
	z-index: -1;
}
.wrapper div:not(.wrapper div div){
	position: relative;
	top: 33.33%;
	margin: 0 auto;
	text-align: center;
	width: max-content;
	max-width: calc(95% - 30px);
	padding: 15px 15px 5px;
	background-color: #4002;
	border-radius: 15px;
	border-style: solid;
	border-color: var(--border);
}
.active{
	display: initial;
}
header{
	position: fixed;
	left: 50vw;
	transform: translate(-50%, 0);
	user-select: none;
	color: #000a;
	text-align: center;
	width: max-content;
}
header h1{
	font-family: 'Grenze Gotisch', cursive;
	font-size: 5em;
	margin-bottom: 0;
	margin-top: 0;
	height: 1.35em;
}
@media screen and (orientation:landscape){
	header h1{
		margin-top: 0.25em;
	}
}
header a{
	color: #000a;
	padding: 0px 5px;
	margin: 0;
	border: 2px solid;
	border-radius: 5px;
	animation: pulse .5s linear 0s infinite;
}
header a:hover{
	border-color: #080;
	font-weight: bold;
	color: black;
}
h2{
	width: 100%;
	margin: 0;
	text-align: center;
	color:#000a;
	font-size: 2em;
	user-select: none;
}
h3{
	margin: 0;
}
#code input{
	text-transform: uppercase;
}
input{
	text-align: center;
	background-color: #0007;
	border-radius: 15px;
	font-weight: bold;
	color: #000a;
	border-color: var(--border);
	font-family: monospace;
	width: 7em;
	height: 2em;
}
input::placeholder{
	color: #000a;
    font-weight: normal;
}
input:focus{
	border-color: white;
}
*:focus{
	outline: none;
}
button{
	background-color: #0007;
	border-radius: 25px;
	color: #000a;
	font-weight: bold;
	border-color: var(--border);
	cursor: pointer;
	font-family: monospace;
	height: 2em;
}
button:hover{
	border-color: white;
}
.wrapper div a, .wrapper div div a{
	margin: 0 auto;
	width: max-content;
	color: #000a;
	font-weight: bold;
	display: block;
}
.wrapper div a:hover, .wrapper div div a:hover{
	font-weight: normal;
}
.wrapper div div a{
	margin: 0;
	display: inline-block;
}
.wrapper div div{
	margin: 0 auto;
}
ul{
	padding: 0;
	margin: 0;
	max-height: 33.33vh;
	overflow-y: auto;
}
li{
	display: block;
}
canvas{
	width: 100%;
	width: -webkit-fill-available;
	aspect-ratio: 1.33;
}
footer{
	position: absolute;
	left: 50vw;
	bottom: 1vh;
	transform: translate(-50%, 0);
	width: max-content;
	color: #000a;
}
footer a{
	float: left;
	color: #000a;
}
footer a:hover{
    font-weight: bold;
}
footer p{
	float: left;
	margin: 0px 5px;
}
@keyframes pulse{
	50%{
		font-size: 16.5px;
	}
}
@keyframes wrong{
	0%{
		--border: #f00;
	}
	25%{
		transform: rotate(12deg);
	}
	50%{
		transform: none;
	}
	75%{
		transform: rotate(-12deg);
	}
	100%{
		transform: none;
		--border: #f00;
	}
}
@keyframes moveOut{
	0%{
		transform: translateX(0);
		--border: #af7;
	}
	100%{
		transform: translateX(calc(-50vw - 50%));
		--border: #af7;
	}
}
@keyframes moveIn{
	0%{
		transform: translateX(calc(50vw + 50%));
		--border: #af7;
	}
	100%{
		transform: translateX(0);
		--border: #af7;
	}
}
@keyframes think{
	0%{
		transform: translate(0, 0);
		--border: #4cf;
	}
	25%{
		transform: translate(0, -10%);
	}
	75%{
		transform: translate(0, 10%);
	}
	100%{
		transform: translate(0, 0);
		--border: #4cf;
	}
}
